body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f6f9;
}

h1 {
    color: #222;
}

select, button {
    padding: 8px;
    margin: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px;
}
